#logout_btn {
    background-color:transparent;
    border: none;
    color: white;
}
.table-container {
    border: 1px solid rgba(121, 121, 121, 0.2);
    padding: 5px;
}

.tableDiv{
    overflow-x: auto;
}

.data-table{
    table-layout: auto;
    width: 100%;
}