/*==============================================
    GENERAL  STYLES    
    =============================================*/
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
}

#wrapper {
    width: 100%;
    background-color: #02664f;
}

#page-wrapper {
    padding: 25px;
    min-height: 600px;
    background: #ffffff;
}

.pad-top {
    padding-top: 15px;
}

/*==============================================
        MENU STYLES    
        =============================================*/
#top-navbar {
    background-color: #1a1a1a !important;
}

.sidebar-collapse .nav {
    padding: 0;
    padding-top: 50px;
    display: block;
}

.sidebar-collapse>.nav>li>a {
    color: white;
    font-weight: 900;
    font-size: 16px;
    padding: 0px;
}

.sidebar-collapse>.nav>li {
    border-bottom: 1px solid rgba(225, 225, 225, 0.4);
    padding: 15px 10px;
}

.sidebar-collapse .nav>li:hover,
.sidebar-collapse .nav>li:focus {
    color: black;
    outline: 0;
}

.navbar-side {
    border: none;
    background-color: inherit;
}

/* .logout-spn {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
} */

.active-link {
    background-color: rgba(255, 255, 255, 0.8);
}

.active-link>a{
    color: black !important;
}

.hidden {
    display: none;
}

/*==============================================
        DASHBOARD STYLES    
        =============================================*/
.div-square {
    padding: 5px;
    border: 3px double #e1e1e1;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin: 5px;
}

.div-square>a,
.div-square>a:hover {
    color: #808080;
    text-decoration: none;
}

/*==============================================
        FOOTER STYLES     
        =============================================*/
.footer {
    background-color: #214761;
    width: 100%;
    color: #fff;
    padding: 20px 50px 20px 50px;
    padding-left: 20px;
}

.footer>a,
.footer>a:hover {
    color: #fff;
}

/*==============================================
        MEDIA QUERIES     
        =============================================*/

@media(min-width:768px) {
    #page-wrapper {
        margin: 0 0 0 260px;
        padding: auto 30px;
        min-height: 1050px;
    }

    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
    }
}